/* html, body {
  width: 100%;
  overflow-x: hidden;
} */
a:link, a:visited {
  cursor: pointer;
  color: inherit;
  /* text-decoration: none; */
}
a:hover, a:active {
  cursor: pointer;
  color: inherit;
  /* text-decoration: underline; */
}
