html, body {
  font-family: "Open Sans", Roboto, "Helvetica Neue", Arial, sans-serif;
}
a:link, a:visited {
  cursor: pointer;
  color: inherit;
}
a:hover, a:active {
  cursor: pointer;
  color: inherit;
}
